/* BROS layout for CS516 project */

body{
  background-color: #d3d3d3;
}

p{
  color: #1d262c;
  font-family: "Trebuchet", Trebuchet, sans-serif;
}
h1{
  font-size: 75px;
}

h2 {
  color: #1d262c;
  font-family: "Trebuchet", Trebuchet, sans-serif;
}


h2 {
  color: #1d262c;
  font-family: "Trebuchet", Trebuchet, sans-serif;
}

h3 {
  color: #1d262c;
  font-family: "Trebuchet", Trebuchet, sans-serif;
}

h4{
  color: #1d262c;
  font-family: "Trebuchet", Trebuchet, sans-serif;
}

span{
  color: #7395AE;
}
.divcontainer{
  background-color: #d3d3d3;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.address{
  background-color: #d3d3d3;
  color: #1d262c;
  font-family: "Trebuchet", Trebuchet, sans-serif;
  padding-bottom: 50px;
  text-align: center;
}


.form{
  background-color: #d3d3d3;
  color: #1d262c;
  font-family: "Trebuchet", Trebuchet, sans-serif;
  padding-bottom: 50px;

}

.logo{
  background-color: #d3d3d3;
  float: left;
  padding-right: 20px;

}

.header{
  font-family: "Trebuchet", Trebuchet, sans-serif;
  color: #1d262c;
  padding-bottom: 50px;
  line-height: 10px;
}

.navbar{
  clear: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1d262c;
}
li {
    float: left;
}

li a {
    display: block;
    color: #7395AE;
    text-align: center;
    padding: 16px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    font-family: "Trebuchet", Trebuchet, sans-serif;
}

li a:hover {
    background-color: #557A95;
    color: white;
}

.signup {

    font-family: "Trebuchet", Trebuchet, sans-serif;
    height: 50px;
    width: 200px;
    background-color: #1d262c;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
    padding-bottom: 50px;

}

.button{
  font-family: "Trebuchet", Trebuchet, sans-serif;
  height: 50px;
  width: 200px;
  background-color: #1d262c;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.signup:hover {background-color: #3e8e41}

.signup:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

.login{
  font-family: "Trebuchet", Trebuchet, sans-serif;
  color: #1d262c;
  padding-bottom: 50px;
}

.maintext{
  padding-bottom: 10px;
}

.photo{
  padding-bottom: 50px;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

#footer{
  padding-top: 50px;
}
